.navbar {
  width: 100%;
  height: 70px;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
  }
}

.link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
